############################################
# ROS2
############################################
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/

############################################
# Python
############################################
__pycache__/
*.pyc
*.pyo
*.egg-info/

############################################
# VSCode
############################################
.vscode/ipch/

############################################
# CMake
############################################
CMakeCache.txt
CMakeFiles/

############################################
# Linux
############################################
*.swp
*~

############################################
# Logs
############################################
*.log

############################################
# ROS bags
############################################
*.db3
*.bag

############################################
# MuJoCo
############################################
mujoco/build/

############################################
# Matlab
############################################
*.asv